<ion-header>
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button text="" [icon]="buttonIcon"> </ion-back-button>
    </ion-buttons>
    <ion-img
      class="toolbar-logo"
      (click)="home()"
      src="./assets/logos/Ripley_logo_R_website_with_bg_2016-present.webp"
    >
    </ion-img>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-content padding class="background">
    <ion-img
      class="logo"
      src="./assets/logos/Ripley_logo_R_website_borders_2016-present.webp"
    ></ion-img>
  </ion-content>
</ion-content>

<ion-footer class="ion-no-border" translucent>
  <ion-toolbar class="footer-toolbar">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="home()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="bag" (click)="bag()">
          <ion-icon name="bag-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="scan" (click)="scan()">
          <ion-icon name="scan-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="settings" (click)="settings()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
