<ion-header>
  <ion-toolbar class="header-toolbar" [class.show-background]="showToolbar">
    <ion-buttons slot="start">
      <ion-button class="menu" (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu-outline"> </ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img
      class="toolbar-logo"
      src="./assets/logos/Ripley_logo_R_website_with_bg_2016-present.webp"
    >
    </ion-img>
    <ion-buttons slot="end">
      <ion-button class="notification">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
      <ion-button class="person" (click)="account()">
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <!-- <ion-content padding class="background"> -->
  <ion-card class="welcome">
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-item>
      <ion-label class="user">
        <h2 class="text-center">Bienvenido {{username}}</h2>
      </ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="searchbar">
    <ion-searchbar
      placeholder="Buscar productos"
      autocomplete="on"
      autocorrect="on"
      spellcheck="true"
    ></ion-searchbar>
  </ion-card>

  <div class="categories-title" style="color: #6a308d">
    <h2 class="font-bold">Categorías</h2>
    <p>Ver todo</p>
  </div>

  <div class="categories-slider">
    <ion-slides
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide *ngFor="let category of categories">
        <ion-col>
          <h4>{{ category.name }}</h4>
          <img src="{{ category.image }}" />
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="featured-title" style="color: #6a308d">
    <h2 class="font-bold">Destacados</h2>
    <p>Ver todo</p>
  </div>

  <div class="product-slider">
    <ion-slides
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide *ngFor="let product of featuredProducts">
        <ion-col
          class="ion-text-left"
          routerLink="/item-details"
          routerDirection="forward"
        >
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="best-seller-title" style="color: #6a308d">
    <h2 class="font-bold">Mejor vendido</h2>
    <p>Ver todo</p>
  </div>

  <div class="product-slider">
    <ion-slides
      [options]="{ slidesPerView: 'auto', zoom: false, grabCursor: true }"
    >
      <ion-slide *ngFor="let product of bestSellProducts">
        <ion-col
          class="ion-text-left"
          routerLink="/item-details"
          routerDirection="forward"
        >
          <img src="{{ product.image }}" />
          <p>${{ product.price }}</p>
          <h6>{{ product.name }}</h6>
        </ion-col>
      </ion-slide>
    </ion-slides>
  </div>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button>
      <ion-icon md="caret-up" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="light">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-instagram"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <!-- </ion-content> -->
</ion-content>

<ion-footer class="ion-no-border" translucent collapse="fade">
  <ion-toolbar class="footer-toolbar">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" (click)="home()">
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="bag" (click)="bag()">
          <ion-icon name="bag-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="scan" (click)="scan()">
          <ion-icon name="scan-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="settings" (click)="settings()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
