// ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ Header Toolbar ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰

ion-header {
  --background: ##6a308d;
  backdrop-filter: blur(7px);
}

.header-toolbar {
  --background: #000000;
  backdrop-filter: blur(7px);
}

ion-img.toolbar-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 4.5vh;
  height: 4.5vh;
}

ion-button {
  --color: #ffffff;
}

.title {
  --color: #ffffff;
  text-align: center;
}

.back-button {
  --background: #ffffff;
}

ion-buttons {
  ion-back-button {
    --color: #ffffff;
  }
}

.menu {
  --color: #ffffff;
}

.notification {
  --color: #ffffff;
}

.person {
  --color: #ffffff;
}

// ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ Background ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰

ion-content {
  --background: linear-gradient(
      180deg,
      #fbf6ff 0%,
      #eae1f0 48.96%,
      #e2d3eb 100%
    ),
    rgba(68, 18, 101, 0.3);
  --backdrop-filter: blur(100px);
  --width: calc(100% + 15px);
}

ion-content.background {
  --background: url(../../../assets/img/bg.webp) 0 0/100% 100% no-repeat;
}

// ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ Card ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰

ion-card.welcome {
  margin: 3vh 3vh;
  --background: linear-gradient(210.55deg, #faf1ff7e 19.14%, #e9d8f57e 154.68%);
  box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.509),
    16px 4px 64px rgba(68, 18, 101, 0.549),
    inset -8px -6px 80px rgba(255, 255, 255, 0.18);
  box-shadow: -8px -4px 16px rgba(255, 255, 255, 1),
    6px 4px 16px rgba(135, 104, 155, 0.549),
    inset -0.5px -0.5px -0.5px rgba(201, 167, 224, 0.549),
    inset 2.5px 2.5px 2.5px rgba(68, 18, 101, 0.549),
    inset -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.4);
  --webkit-filter: blur(10px);
  --moz-filter: blur(10px);
  --o-filter: blur(10px);
  --ms-filter: blur(10px);
  --filter: blur(10px);
  backdrop-filter: blur(7px);
  border-radius: 20px;
  background: radial-gradient(to right, #6a308d, #faf1ff) border-box;
  border: 0.1px solid;
  --transform: rotate(-90deg);
  --color: #6a308d;
  -webkit-animation: slide-in-bottom 1.5s cubic-bezier(0.38, 0.66, 0, 1) both;
  animation: slide-in-bottom 1.5s cubic-bezier(0.38, 0.66, 0, 1) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(200px);
    transform: translateY(200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

ion-item {
  --background: linear-gradient(210.55deg, #faf1ff7e 19.14%, #e9d8f57e 154.68%);
  backdrop-filter: blur(15px);
  border-radius: 17.5px;
  ion-icon {
    display: block;
    margin: 0vh auto;
    color: #6a308d;
  }
}

ion-label.user {
  --background: linear-gradient(210.55deg, #faf1ff7e 19.14%, #e9d8f57e 154.68%);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  --color: #6a308d;
}

h2.text-center {
  margin: auto;
  font-weight: 500;
  font-size: larger;
  color: "#6a308d";
  text-align: center;
}

// ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ Search Bar ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰

ion-card.searchbar {
  font-weight: 500;
  font-size: 15px;
  margin: 3vh 3vh;
  --background: linear-gradient(210.55deg, #faf1ff7e 19.14%, #e9d8f57e 154.68%);
  box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8),
    16px 4px 64px rgba(68, 18, 101, 0.549),
    inset -8px -6px 80px rgba(255, 255, 255, 0.18);
  --webkit-filter: blur(10px);
  --moz-filter: blur(10px);
  --o-filter: blur(10px);
  --ms-filter: blur(10px);
  --filter: blur(10px);
  backdrop-filter: blur(7px);
  border-radius: 20px;
  background: radial-gradient(to right, #6a308d, #faf1ff) border-box;
  border: 0.1px solid;
  --transform: rotate(-90deg);
  --color: #6a308d;
  -webkit-animation: slide-in-bottom 1.75s cubic-bezier(0.38, 0.66, 0, 1) both;
  animation: slide-in-bottom 1.75s cubic-bezier(0.38, 0.66, 0, 1) both;
}

ion-searchbar {
  font-weight: 500;
  font-size: 14px;
  --background: linear-gradient(210.55deg, #faf1ff7e 19.14%, #e9d8f57e 154.68%);
  --box-shadow: -16px -16px 40px rgba(255, 255, 255, 0.8),
    16px 4px 64px rgba(68, 18, 101, 0.549),
    inset -8px -6px 80px rgba(255, 255, 255, 0.18);
  --box-shadow: -8px -4px 16px rgba(255, 255, 255, 1),
    6px 4px 16px rgba(135, 104, 155, 0.549),
    inset -0.5px -0.5px -0.5px rgba(201, 167, 224, 0.549),
    inset 2.5px 2.5px 2.5px rgba(68, 18, 101, 0.549),
    inset -0.5px -0.5px 0.5px rgba(255, 255, 255, 0.4);
  --webkit-filter: blur(10px);
  --moz-filter: blur(10px);
  --o-filter: blur(10px);
  --ms-filter: blur(10px);
  --filter: blur(10px);
  --backdrop-filter: blur(7px);
  --border-radius: 20px;
  --transform: rotate(-90deg);
  --color: #6a308d;
  --placeholder-color: #6a308d;
  --placeholder-font-style: italic;
  --placeholder-font-weight: 300;
  --placeholder-opacity: 0.7;
  ion-icon {
    color: #6a308d;
  }
}

.sc-ion-searchbar-ios-h {
  --background: linear-gradient(210.55deg, #faf1ff7e 19.14%, #e9d8f57e 154.68%);
  border-radius: 15px;
}

.sc-ion-searchbar-md-h {
  --background: linear-gradient(210.55deg, #faf1ff7e 19.14%, #e9d8f57e 154.68%);
  border-radius: 15px;
}

.sc-ion-searchbar-ios-h {
  --icon-color: #6a308d;
}

.sc-ion-searchbar-md-h {
  --icon-color: #6a308d;
}

// ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ Title ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰

.categories-title {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  --color: "#6a308d";
  -webkit-animation: slide-in-bottom 2s cubic-bezier(0.38, 0.66, 0, 1) both;
  animation: slide-in-bottom 2s cubic-bezier(0.38, 0.66, 0, 1) both;

  h2 {
    font-size: 20px;
    margin: 0 0 0 16px;
    color: "#6a308d";
  }

  p {
    margin: 0 16px 0 0;
    color: "#6a308d";
  }
}

.featured-title {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  --color: "#6a308d";
  -webkit-animation: slide-in-bottom 2.25s cubic-bezier(0.38, 0.66, 0, 1) both;
  animation: slide-in-bottom 2.25s cubic-bezier(0.38, 0.66, 0, 1) both;

  h2 {
    font-size: 20px;
    margin: 0 0 0 16px;
    color: "#6a308d";
  }

  p {
    margin: 0 16px 0 0;
    color: "#6a308d";
  }
}

.best-seller-title {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  --color: "#6a308d";
  -webkit-animation: slide-in-bottom 2.5s cubic-bezier(0.38, 0.66, 0, 1) both;
  animation: slide-in-bottom 2.5s cubic-bezier(0.38, 0.66, 0, 1) both;

  h2 {
    font-size: 20px;
    margin: 0 0 0 16px;
    color: "#6a308d";
  }

  p {
    margin: 0 16px 0 0;
    color: "#6a308d";
  }
}

// ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ Slider ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰

.font-bold {
  font-weight: 500;
}

.categories-slider {
  ion-slide {
    width: 150px;
    height: 100px;
    margin-right: 10px;
    margin-left: 20px;
    margin-bottom: 30px;

    ion-col {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      h4 {
        color: #ffffff;
        margin: 0;
      }

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        top: 0;
        left: 0;
        z-index: -1;
        box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.16);
      }
    }
  }
}

.product-slider {
  margin-bottom: 30px;

  ion-slide {
    width: 150px;
    height: auto;
    margin-left: 20px;
    margin-right: 10px;

    ion-col {
      img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        border-radius: 8px;
      }

      p {
        margin-top: 5px;
        margin-bottom: 0;
      }

      h6 {
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
}

ion-slide:focus {
  outline: none !important;
}

ion-col:focus {
  outline: none !important;
}

// ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ Floating Bar Button ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰

ion-fab-button {
  --background: linear-gradient(
      305.4deg,
      rgba(253, 186, 49, 0.7) 13.72%,
      rgba(255, 234, 190, 0.7) 93.17%
    ),
    rgba(251, 189, 30, 0.92);
  --box-shadow: 6px 4px 16px rgba(68, 18, 101, 0.549),
    -6px -4px 16px rgba(255, 255, 255, 0.36),
    inset -8px -6px 26px rgba(255, 255, 255, 0.18);
  --color: #6a308d;
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.38, 0.66, 0, 1) both;
  animation: slide-in-bottom 1s cubic-bezier(0.38, 0.66, 0, 1) both;
  ion-icon {
    color: #6a308d;
  }
}

// ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰ Tab Bar ☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰☰

ion-footer {
  --background: rgba(250, 243, 255, 0.775);
  --backdrop-filter: blur(10px);
}

ion-tab-button {
  ion-icon {
    color: #6a308d;
  }
}
